@media(max-width: 768px){
    .menu-container a, .menu-container div{
        display: none;
    }

    #hamburgericon{
        display: block;
    }

    #szoveg{
        width: 100%;
    }

    #asztal{
       width: 50%;
    }
}