body{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1200px;
}

header{
    position: relative;
    margin-left: -5px;
}

#headerkep{
    height: 45vh;
    width: 101vw;
    object-fit: cover;
    margin-left: -0.65%;
}

header h1{
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    font-weight: lighter;
}

.kezdolap{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 14.5%;
}

.menu{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 9.5%;
}

.rolunk{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 4%;
}

.kapcsolat{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: -2.5%;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
}