html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container{
   max-width: 100%;
}

header{
    background-image: url(Kepek/pizzakep.jpg);
    background-size: 100%;
    object-fit: cover;
    display: flex;
    height: 45vh;
    width: 100%;
    background-position: 0;
}

#headerkep{
    height: 45vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

header h1{
    position: absolute;
    top: -0.5%;
    left: 2%;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.kezdolap{
    position: absolute;
    font-size: 110%;
    top: 3%;
    right: 20%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.menu{
    position: absolute;
    font-size: 110%;
    top: 3%;
    right: 15%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.rolunk{
    position: absolute;
    font-size: 110%;
    top: 3%;
    right: 9%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.kapcsolat{
    position: absolute;
    font-size: 110%;
    top: 3%;
    right: 2.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
}
.content1{
    display: flex;
    width: 100%;
    gap: 20px;
    height: 100%;
    background-color: rgb(54, 54, 54);
}

.oszlop1{
    width: 50%;
}

.oszlop2{
    width: 50%;
}

#pizzerianev{
    text-transform: uppercase;
    display: flex;
    justify-content: right;
}

#tortenet{
    display: flex;
    justify-content: right;

}

#szoveg{
    width: 75%;
    text-align: left;
}

#asztal{
    text-transform: uppercase;
    text-align: left;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.gombok{
    gap: 50px;
    display: flex;
    margin: 3%;
    width: 100%;
    justify-content: center;
}


#menu2{
    margin: 2%;
}

#ajanlat{

}

#szoveg2{
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 100%;
}

.gombok a{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 2%;
    padding-inline: 5%;
    
}
.content3{
    display: grid;
    background-color: rgb(54, 54, 54);
}

.kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr 2fr;
    height: 60vw;
    width: 60vw;
    gap: 30px;
    margin: 2%;
    margin-inline: auto;
}

.kepek div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2%;
    font-family: serif;
    font-style: italic;
    font-size: 110%;
}

#speci{
    text-align: center;
}

#osszhang{
    text-align: center;
    position: relative;
    bottom: 50%;
}

.pizza1{
    grid-area: pizza1;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-image: url(Kepek/pizzakep.jpg);
}

.pizza2{
    grid-area: pizza2;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-image: url(Kepek/pizzakep2.jpg);
}

.pizza3{
    grid-area: pizza3;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-image: url(Kepek/pizzakep3.jpg);
}

.pizza4{
    grid-area: pizza4;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-image: url(Kepek/pizzakep4.jpg);
}

.pizza5{
    grid-area: pizza5;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-image: url(Kepek/pizzakep5.jpg);
}
footer{
    background-color: black;
}

.footer{
    display: flex;
    gap: 30px;
    padding-top: 5px;
    margin-inline: auto;
    width: 80%;
    justify-content: left;
}

.footer .szeretetcim{
    padding: 10px;
    width: 30%;
    text-align: right;
    margin-top: 10px;
    font-size: 170%;
}

.nyitvatartas{
    width: 20%;
}

footer .foglalas_p {
    text-decoration: white underline;
    color: white;
    font-size: 24px;
}

footer .footer_szoveg {
    opacity: 0.6;
    font-size: 24px;
}

.vonal {
    opacity: 0.6;
}

.footer2 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.mukodtet{
    text-decoration: white underline;
    color: white;
    font-size: 24px;
}

.footer2 p{
    margin-bottom: 0;
}

.footer2 hr{
    width: 60%;
}