body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1200px;
}

header{
    position: relative;
    width: 100%;
}

#headerkep{
    height: 45vh;
    width: 106.7%;
    object-fit: cover;
    display: block;
}

header h1{
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.kezdolap{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 14.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.menu{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 9.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.rolunk{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 4%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.kapcsolat{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: -2.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
    position: absolute;
}
.content1{
    display: flex;
    width: 106.7%;
    gap: 20px;
    height: 100%;
    background-color: rgb(54, 54, 54);
}

.oszlop1{
    width: 50%;
}

.oszlop2{
    width: 50%;
}

#pizzerianev{
    text-transform: uppercase;
    text-align: right;
}

#tortenet{
    text-align: right;
}

#szoveg{
    width: 75%;
}

#asztal{
    text-transform: uppercase;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106.7%;
    background-color: rgb(0, 0, 0);
}
.gombok{
    gap: 50px;
    display: flex;
}

#szoveg2{
    width: 40%;
    text-align: center;
}

#pizza{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5%;
    
}
#menu3{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5%;
}
#italok{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 5%;
}