body{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1200px;
}

header{
    position: relative;
    margin-left: -5px;
}

#headerkep{
    height: 45vh;
    width: 100.4vw;
    object-fit: cover;
    margin-left: -0.65%;
}

header h1{
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.kezdolap{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 14.5%;
    color: white;
    text-decoration: none;
}

.menu{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 9.5%;
    color: white;
    text-decoration: none;
}

.rolunk{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 4%;
    color: white;
    text-decoration: none;
}

.kapcsolat{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: -2.5%;
    color: white;
    text-decoration: none;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
    position: absolute;
}
.content1{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    gap: 10px;
    position: absolute;
    background-color: rgb(85, 85, 85);
}

#Pizzerianev{
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

#Tortenet{
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

#Szoveg{
    grid-column: 1;
    grid-row: 1;
    position: relative;
}

#Asztal{
    grid-column: 1;
    grid-row: 1;
    position: relative;
}