body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    max-width: 1200px;
}

header{
    position: relative;
    width: 100%;
}

#headerkep{
    height: 45vh;
    width: 106.7%;
    object-fit: cover;
    display: block;
}

header h1{
    position: absolute;
    top: 2%;
    left: 2%;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.kezdolap{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 14.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.menu{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 9.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.rolunk{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: 4%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.kapcsolat{
    position: absolute;
    font-size: 110%;
    top: 5.5%;
    right: -2.5%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.button {
    padding: 10px 20px;
    border: none;
    background-color: darkblue;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    text-align: center;
    text-rendering: inherit;
    text-decoration: none;
    position: absolute;
}
.content1{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    display: grid;
    width: 106.7%;
    gap: 20px;
    height: 100%;
    background-color: rgb(54, 54, 54);
}

#pizzerianev{
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    text-transform: uppercase;
    text-align: right;
}

#tortenet{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    font-size: 1.2em;
    text-align: right;
    align-self: end;
}

#szoveg{
    grid-column: 2 / 3;
    grid-row: 1 / 2;

}

#asztal{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    text-transform: uppercase;
    align-self: end;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 106.7%;
    gap: 0px;
    background-color: rgb(0, 0, 0);
}
#gombok{
    gap: 50px;
    color: white;
}
#pizza{
    color: white;
    text-decoration: none;
    border: 2px solid white;
}
#menu3{
    color: white;
    text-decoration: none;
    border: 2px solid white;
}
#italok{
    color: white;
    text-decoration: none;
    border: 2px solid white;
}