html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

.container{
   max-width: 100%;
}

#hamburgericon{
    display: none;
}

header{
    background-image: url(Kepek/pizzakep.jpg);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    height: 45vh;
    width: 100%;
}


#headerkep{
    height: 45vh;
    width: 100%;
    object-fit: cover;
    display: block;
}

header h1{
    margin-left: 2%;
    width: 100%;
    text-transform: uppercase;
    font-weight: lighter;
    color: white;
}

.menu-container{
    display: flex;
    gap: 25px;
    align-items: center;
    height: 9vh;
    margin-right: 3%;
}

.menu-container a:hover{
    background-color: rgba(255, 255, 2, 0.39);
    color: white;
}

.kezdolap{
    font-size: 110%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.menu{
    font-size: 110%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.rolunk{
    font-size: 110%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.kapcsolat{
    font-size: 110%;
    color: white;
    text-decoration: none;
    opacity: 0.8;
}

.content1{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgb(54, 54, 54);
    padding-top: 3%;
    padding-bottom: 3%;
    gap: 30px;
    justify-content: center;
    align-self: center;

}
.oszlop1{
    text-align: right;
}

.oszlop2{
    width: 20%;
    text-align: left;
}

#pizzerianev{
    text-transform: uppercase;

    width: 100%;  
}


#tortenet{
    width: 100%;
    opacity: 0.6;
}

#szoveg{
    font-size: 18px;
    width: 100%;
    opacity: 0.6;
}

#asztal{
    text-transform: uppercase;
    font-size: 26px;
    width: 100%;
}
.content2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(0, 0, 0);
}
.gombok{
    gap: 50px;
    display: flex;
    margin: 3%;
    width: 50%;
    justify-content: center;
}


#menu2{
    margin: 2%;
}

#szoveg2{
    width: 30%;
    text-align: center;
    position: relative;
    bottom: 100%;
}

.gombok a{
    border: 1px solid white;
    color: white;
    text-decoration: none;
    padding: 2%;
    padding-inline: 5%;
    
}

.gombok a:hover{
    background-color: rgba(255, 255, 2, 0.39);
    color: white;
}
.content3{
    display: grid;
    background-color: rgb(54, 54, 54);
}

.kepek{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 6fr 1fr 2fr;
    height: 60vw;
    width: 60vw;
    gap: 30px;
    margin: 2%;
    margin-inline: auto;
}


.kepek div{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 2%;
    font-family: serif;
    font-style: italic;
    font-size: 110%;
}

.kepek div:hover {
    background-color: rgba(255, 255, 2, 0.39); 
    background-blend-mode: overlay; 
    cursor: pointer;
    
}
#speci{
    text-align: center;
}

#osszhang{
    text-align: center;
    position: relative;
    bottom: 50%;
}

.pizza1{
    grid-area: pizza1;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-image: url(Kepek/pizzakep.jpg);
}

.pizza2{
    grid-area: pizza2;
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    background-image: url(Kepek/pizzakep2.jpg);
}

.pizza3{
    grid-area: pizza3;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    background-image: url(Kepek/pizzakep3.jpg);
}

.pizza4{
    grid-area: pizza4;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    background-image: url(Kepek/pizzakep4.jpg);
}

.pizza5{
    grid-area: pizza5;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    background-image: url(Kepek/pizzakep5.jpg);
}


footer{
    background-color: black;
}

.footer{
    display: flex;
    gap: 30px;
    padding-top: 5px;
    margin-inline: 5%;
    width: 80%;
    justify-content: center;
    margin-top: 2%;
}

.footer .szeretetcim{
    padding: 10px;
    width: 30%;
    text-align: right;
    margin-top: 10px;
    font-size: 175%;
    text-transform: uppercase;
}

.nyitvatartas{
    width: 20%;
    margin-top: 0.5%;
}

.nyitvatartas div, .nyitvatartas hr{
    opacity: 0.6;
}

.nyitvatartas p{
    text-transform: uppercase;
}

.foglalas{
    margin-top: 0.5%;
}

.foglalas_p:hover{
    background-color: rgba(255, 255, 2, 0.39);
    width: 50%;
}

.probaldki{
   width: 65%;
}

.nyitvatartas hr{
    opacity: 0.6;
}

footer .foglalas_p {
    text-decoration: white underline;
    color: white;
    font-size: 24px;
}

footer .footerszovegg {
    opacity: 0.6;
    font-size: 24px;
}

.footerszoveg {
    opacity: 0.6;
}

.vonal {
    opacity: 0.6;
}

.footer2 {
    margin-top: 5%;
    margin-bottom: 3%;
    text-align: center;
    background-color: black;
    justify-content: center;
    align-items: center;
}

.mukodtet{
    color: white;
    opacity: 0.6;
}

.mukodtet a{
    text-decoration: white underline;
    color: white;
}

.mukodtet a:hover{
    background-color: rgba(255, 255, 2, 0.39);
    color: white;
}

.footer2 p{
    margin-bottom: 0;
}

.footer2 hr{
    width: 60%;
}

.footer2 hr{
    opacity: 0.6;
}

#ajanlat{
    opacity: 0.6;
}

#szoveg2{
    opacity: 0.6;
}