body{
    color: white;
}

.container{
    max-width: 1200px;
    margin: 0;
    padding: 0;
}

header{
    position: relative;
}

#headerkep{
    height: 45vh;
    width: 100vw;
    object-fit: cover;
    margin-left: -0.65%;
}

header h1{
    position: absolute;
    top: 0%;
}